/node_modules
/src
/docs
/test
/data
/.github
/coverage
/utils
yarn.lock
tsconfig.json
.eslintrc
.eslintignore
.gitignore
package-lock.json
webpack.config.js
jest.config.js
update.md
typedoc.json
README-zh-Hans.md